<div style="background-color:#00BCD4;height:200px;">
  <div class="download-resume">
    <button type="button" class="btn btn-primary" (onclick)="downloadResume()">Download Resume</button>
  </div>
</div>
<div style="background-color:#00a5bb;height:400px;">
  <h1>Esha Vishwakarma</h1>
  <h3>Full Stack Developer</h3>
</div>
<div style="background-color:#87CEFA;height:100px;text-align:center">
  <img class="icon" src="./assets/email_icon.png" alt="email-icon" /> &nbsp;&nbsp;&nbsp;esha.vish@gmail.com &nbsp;&nbsp;&nbsp;
  <img class="icon" src="./assets/phone.png" alt="phone" /> &nbsp;&nbsp;415-964-7112
</div>

<div id="page-nav-wrapper" class="page-nav-wrapper text-center">
  <div class="container">
    <ul id="page-nav" class="nav page-nav list-inline">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</div>